body{
margin:0;
background:black;
color:white;
font-family:Poppins;
overflow-x:hidden;
}

canvas{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
z-index:-1;
}

.container{
text-align:center;
padding:40px 20px;
}

h1{
font-family:Orbitron;
font-size:60px;
color:#00ff9c;
letter-spacing:5px;
margin-bottom:10px;
}

.tag{
color:#00eaff;
font-size:18px;
margin-bottom:40px;
}

h2{
color:#00ff9c;
margin-top:60px;
margin-bottom:20px;
}

.about p{
max-width:700px;
margin:auto;
line-height:1.7;
}

.skill-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:15px;
max-width:800px;
margin:auto;
}

.card{
border:1px solid #00ff9c;
padding:15px;
border-radius:10px;
background:rgba(0,255,156,0.05);
}

.project-card{
border:1px solid #00eaff;
margin:20px auto;
padding:20px;
max-width:700px;
border-radius:12px;
background:rgba(0,234,255,0.05);
}

footer{
margin-top:60px;
opacity:0.6;
}

.terminal{
font-family:monospace;
color:#00ff9c;
margin-bottom:30px;
font-size:16px;
}

.socials{
display:flex;
flex-direction:column;
gap:12px;
align-items:center;
margin-top:20px;
}

.socials a{
text-decoration:none;
color:#00ff9c;
border:1px solid #00ff9c;
padding:12px 20px;
width:260px;
border-radius:8px;
transition:0.3s;
background:rgba(0,255,156,0.05);
}

.socials a:hover{
background:#00ff9c;
color:black;
transform:scale(1.05);
}

.mail{
margin-top:20px;
opacity:0.8;
}

